<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="home-header"
>
  <h3 class="card-title">Highlights</h3>
  <mat-divider fxFlex></mat-divider>
  <mat-icon
    class="clickable"
    aria-hidden="false"
    aria-label="show charts icon"
    (click)="isChartsContainerExpanded = !isChartsContainerExpanded"
    >{{
      isChartsContainerExpanded ? 'expand_less' : 'expand_more'
    }}</mat-icon
  >
</div>

<div
  [@collapseAnimation]="
    isChartsContainerExpanded ? 'expanded' : 'collapsed'
  "
>
  <app-charts-header></app-charts-header>
</div>
