.home-header {
  .card-title {
    font-weight: bold;
    opacity: 0.85;
    padding-right: 6px;
    padding-top: 6px;
  }
  mat-icon {
    margin-left: 6px;
    margin-top: 3px;
    font-size: 30px;
  }
}

.home-container {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  row-gap: 18px;
  overflow: hidden;

  mat-card {
    width: 23.5%;
    min-width: 220px;
    height: 220px;
  }
}
