<div
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="2%"
  class="wrapper-container header-container"
>
  <mat-card class="sparkboxes secondary">
    <div class="box box1">
      <div class="details">
        <p>1213</p>
        <p>CLICKS</p>
      </div>
      <div #spark1 id="spark1"></div>
    </div>
  </mat-card>

  <mat-card class="sparkboxes secondary">
    <div class="box box2">
      <div class="details">
        <p>422</p>
        <p>VIEWS</p>
      </div>
      <div #spark2 id="spark2"></div>
    </div>
  </mat-card>

  <mat-card class="sparkboxes secondary">
    <div class="box box3">
      <div class="details">
        <p>311</p>
        <p>LEADS</p>
      </div>
      <div #spark3 id="spark3"></div>
    </div>
  </mat-card>

  <mat-card class="sparkboxes secondary">
    <div class="box box4">
      <div class="details">
        <p>22</p>
        <p>SALES</p>
      </div>
      <div #spark4 id="spark4"></div>
    </div>
  </mat-card>
</div>
