@import '../../charts.component.scss';

.content-area {
  max-width: 1280px;
  margin: 0 auto;
}

.box {
  height: 100%;
  width: 100%;
  padding: 25px 20px;
  background-size: cover;
}

.shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.sparkboxes {
  padding: 0;
}

.sparkboxes .box {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  font-family: Montserrat, Arial, sans-serif !important;
}

.sparkboxes .box .details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: #fff;
  text-shadow: 1px 1px #b5b5b5;
  width: 30%;

  p {
    margin: 0 0 6px;
    font-size: 18px;
    font-weight: bolder;
    text-align: start;
  }
}

.sparkboxes .box1 {
  background-image: linear-gradient(
    135deg,
    #abdcff 10%,
    #0396ff 100%
  );
}

.sparkboxes .box2 {
  background-image: linear-gradient(
    135deg,
    #2afadf 10%,
    #4c83ff 100%
  );
}

.sparkboxes .box3 {
  background-image: linear-gradient(
    135deg,
    #ffd3a5 10%,
    #fd6585 100%
  );
}

.sparkboxes .box4 {
  background-image: linear-gradient(
    135deg,
    #ee9ae5 10%,
    #5961f9 100%
  );
}
