$activated-button: #d5d5d5;

.side-nav-container {
  height: 100%;
  text-overflow: ellipsis;
  text-wrap: nowrap;

  .side-nav-content {
    padding: 1px;
    height: 100%;
    width: 100%;

    .side-nav-header {
      img {
        width: 24px;
        height: 24px;
        margin-right: 5px;
      }
      p {
        font-size: 1.35em;
        font-weight: bold;
        letter-spacing: 0;
        margin: 0;
        padding-top: 2px;
      }
    }

    .divider {
      width: 100%;
      opacity: 0.23;
      background: inherit;
      border-bottom: 1px solid;
      margin-top: 14px;
    }

    .side-nav-tabs {
      width: 100%;
      height: auto;
      min-height: 150px;
      margin-top: 60px;

      .side-nav-tab {
        width: 100%;
        height: 38px;
        border-radius: 10px;
        padding: 7px;
        margin-bottom: 6px;
        opacity: 0.9;

        .tab-icon {
          margin-right: 8px;
          margin-left: 1.5px;
          width: 24px;
          height: 24px;
        }
        mat-icon {
          font-size: 22px;
          margin-top: 2px;
        }
        p {
          font-size: 1.1em;
          font-weight: bold;
          padding-top: 2px;
          letter-spacing: 0.5px;
        }
      }

      .selected-tab {
        background: $activated-button;
        color: black;
        .tab-icon,
        p {
          opacity: 1 !important;
        }
      }
    }
  }

  .side-nav-footer {
    height: 50px;
    padding: 5px 5px 5px 12px;
    overflow: hidden;
    background: inherit;

    mat-card-title {
      font-size: 14px;
      margin-bottom: 4px;
      margin-top: 1px;
    }
    mat-card-subtitle {
      font-size: 12px;
    }
    .mat-card-avatar {
      width: 30px;
      height: 30px;
      margin-right: -8px !important;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      margin-top: 4px;
    }
  }
}

.collapsed-nav-container {
  .divider {
    width: 90% !important;
  }

  .tab-icon {
    height: 28px;
  }

  .collapse-btn {
    margin-right: 3px !important;
  }

  .side-nav-footer {
    padding-left: 6px;
  }
}
