<div fxLayoutAlign="space-between" class="side-nav-container">
  <div class="side-nav-content">
    <div fxLayout="row" class="side-nav-header">
      <img src="assets/icons/logo.svg" alt="" />
      <p>Flow Monitoring</p>
    </div>
    <div class="side-nav-tabs">
      <ng-container *ngFor="let tab of navigationTabs">
        <div
          fxLayout="row"
          class="side-nav-tab"
          [ngClass]="{ 'selected-tab': isTabActive(tab) }"
        >
          <img
            class="tab-icon"
            [src]="tab.iconName"
            [alt]="tab.iconLabel"
          />
          <p>{{ tab.name }}</p>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="side-nav-footer"></div>
</div>
