<div fxLayoutAlign="space-between" class="side-nav-container">
  <div class="side-nav-content">
    <div fxLayout="row" class="side-nav-header">
      <img src="assets/icons/logo.svg" alt="" />
      <p>Flow Monitoring</p>
    </div>
    <div class="side-nav-tabs">
      <div fxLayout="row" class="side-nav-tab selected-tab">
        <img class="tab-icon" src="assets/svg/home.svg" alt="" />
        <p>Dashboard</p>
      </div>
      <div fxLayout="row" class="side-nav-tab">
        <img class="tab-icon" src="assets/svg/graphs.svg" alt="" />
        <p>Graphs</p>
      </div>
      <div fxLayout="row" class="side-nav-tab">
        <img
          class="tab-icon"
          src="assets/svg/management.svg"
          alt=""
        />
        <p>Management</p>
      </div>
      <div fxLayout="row" class="side-nav-tab">
        <img class="tab-icon" src="assets/svg/inbox.svg" alt="" />
        <p>Inbox</p>
      </div>
      <div fxLayout="row" class="side-nav-tab">
        <img class="tab-icon" src="assets/svg/profile.svg" alt="" />
        <p>Profile</p>
      </div>
      <div fxLayout="row" class="side-nav-tab">
        <img
          class="tab-icon"
          src="assets/svg/help-center.svg"
          alt=""
        />
        <p>Help Center</p>
      </div>
      <div fxLayout="row" class="side-nav-tab">
        <img class="tab-icon" src="assets/svg/settings.svg" alt="" />
        <p>Settings</p>
      </div>
    </div>
  </div>
  <div class="side-nav-footer"></div>
</div>
