<mat-card
  fxLayout="column"
  fxLayoutAlign="space-between"
  class="side-nav-container secondary"
  [ngClass]="{ 'collapsed-nav-container': !isFullSideNav }"
  [@collapseAnimation]="getSideNavState"
>
  <div class="side-nav-content">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between"
      class="side-nav-header"
    >
      <div *ngIf="isFullSideNav" fxLayout="row">
        <img src="assets/svg/logo.svg" alt="" />
        <p class="montserrat-font">Flow Monitoring</p>
      </div>
      <button
        class="collapse-btn"
        (click)="toggleSideNavWidth()"
        mat-button
      >
        <mat-icon class="secondary">{{
          isFullSideNav ? 'chevron_left' : 'chevron_right'
        }}</mat-icon>
      </button>
    </div>
    <div class="divider"></div>
    <div class="side-nav-tabs">
      <ng-container *ngFor="let tab of navigationTabs">
        <div
          fxLayout="row"
          class="side-nav-tab clickable"
          [ngClass]="{ 'selected-tab': isTabActive(tab) }"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
            class="tab-icon"
            >{{ tab.matIconName }}</mat-icon
          >
          <p *ngIf="isFullSideNav">{{ tab.name }}</p>
        </div>
      </ng-container>
    </div>
  </div>
  <mat-card class="side-nav-footer box-border clickable">
    <mat-card-header>
      <div
        mat-card-avatar
        style="background-image: url('assets/svg/default-avatar.svg')"
      ></div>
      <mat-card-title *ngIf="isFullSideNav"
        >Jean Philips</mat-card-title
      >
      <mat-card-subtitle *ngIf="isFullSideNav"
        >Jean.philips.pro@flow.io</mat-card-subtitle
      >
    </mat-card-header>
  </mat-card>
</mat-card>
