<app-charts-header></app-charts-header>

<div fxLayout="row" fxLayoutAlign="center" class="wrapper-container">
  <mat-card class="secondary card-container">
    <app-basic-bar chartTitle="Basic Bar"></app-basic-bar>
  </mat-card>

  <mat-card class="secondary card-container">
    <app-line
      chartTitle="Line With Annotation"
      [isAnnotationsLine]="true"
    ></app-line>
  </mat-card>

  <mat-card class="secondary card-container">
    <app-line chartTitle="Line chart"></app-line>
  </mat-card>

  <mat-card class="secondary card-container">
    <app-polar-area chartTitle="Polar Area"></app-polar-area>
  </mat-card>

  <mat-card class="secondary card-container">
    <app-radial-bar chartTitle="Radial Bar"></app-radial-bar>
  </mat-card>
</div>
