.custom-timepicker-wrapper {
  display: flex;
  align-items: center;
  background-color: transparent !important;
}

.custom-timepicker-field {
  flex-grow: 1;
  width: 55px; /* Reduced width for smaller input fields */
  box-sizing: content-box;
}

.custom-timepicker-field * {
  background: transparent;
  height: 10px;
  padding: 0;
  margin: 0;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 0, 0, 0) !important;
}

.custom-timepicker-input-wrapper {
  position: relative;
}

.custom-timepicker-arrow-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  margin-left: 10px;
  background: transparent;
}

app-custom-timepicker > * {
  background: transparent;
}

.custom-timepicker-input-wrapper input {
  text-align: center;
  padding: 0;
  font-size: 10px; /* Reduced font-size for smaller input fields */
  font-weight: bold;
  width: auto;
  max-width: 100%;
  box-sizing: content-box;
}

.custom-timepicker-button {
  width: 10px;
  height: 10px;
  border-radius: 0;
}

.custom-timepicker-field .mat-form-field-wrapper {
  width: 10px;
  box-sizing: border-box;
}

/* Remove default styles from the span */
.toggle-icon {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px; /* Adjust the width and height as needed */
  height: 24px; /* Adjust the width and height as needed */
  box-sizing: content-box;
}

/* Remove default icon styles */
.toggle-icon mat-icon {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  font-size: 24px; /* Adjust the font size as needed */
  line-height: 1; /* Set line-height to 1 to remove any extra spacing */
  display: inline; /* Use inline display for the icon */
}

.mat-form-field-flex {
  background-color: transparent;
}

.time {
  display: flex;
  align-items: center;
  gap: 10px;
}

::ng-deep
  .light-theme
  .mat-form-field-appearance-fill
  .mat-form-field-flex {
  background-color: transparent !important;
  border: none !important;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) !important; /* Change the color here */
  padding: 0px 2px; /* Adjust padding as needed */
  font-size: 10px; /* Adjust font size as needed */
  border-radius: 5px;
}

.custom-timepicker-field {
  width: 40px; /* Adjust width as needed */
  border-radius: 5px;
  margin-top: 20px;
}

.custom-timepicker-arrow-wrapper button {
  width: 5px; /* Adjust width as needed */
  height: 5px; /* Adjust height as needed */
  margin: 0px 0;
  padding: 4.9px; /* Remove surrounding space */
  // box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) !important; /* Change the color here */
}

.toggle-icon {
  width: 24px; /* Adjust this size to your need */
  height: 24px; /* Adjust this size to your need */
  padding: 0; /* Remove surrounding space */
  margin: 0; /* Remove any margin */
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  display: flex;
  align-items: center;
  justify-content: center;
}
