$color-icon: rgba(137, 0, 241, 0.87);
$color-columns: rgba(0, 0, 0, 0.87);
table {
  width: 100%;
}

.custom-columns {
  color: $color-columns;
  .custom-input {
    position: relative;
    margin: 8px;
    margin-left: -8px;
    margin-bottom: 10px;

    .custom-field {
      padding-left: 30px;
      height: 30px;
      border: none;
      outline: none;
    }
    .custom-icon {
      position: absolute;
      left: 5px;
      top: 5px;

      color: $color-icon;
      font-size: 20px;
      font-weight: 2 !important;
    }
  }
}

.mat-row .mat-cell {
  border-bottom: 0.5px solid #dfdede;
  border-top: 0.5px solid #e1dfdf;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

:host ::ng-deep .mat-paginator-page-size {
  display: flex;
  align-items: center;
}

:host ::ng-deep .mat-paginator-range-label {
  margin-left: -20px; /* adjust as needed */
}

::ng-deep .mat-paginator .mat-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px 5px;
  background-color: #fff;
  margin-top: -20px !important;
  line-height: 2.3;
  margin-left: 4px;
  height: 28px;
  width: 50px;
}

::ng-deep
  .mat-paginator
  .mat-select
  .mat-select-trigger
  .mat-select-value
  .mat-select-value-text {
  position: relative;
  right: -3px;

  top: -4px; /* adjust as needed */
}
::ng-deep .mat-select-arrow {
  /* Hide default arrow */
  position: relative;
  right: -1px;
  top: -3px; /* adjust as needed */
}

::ng-deep .mat-paginator .mat-paginator-range-label {
  margin-left: 2px;
}
::ng-deep .mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 30px; /* Decreased size */
  height: 30px; /* Decreased size */
  flex-shrink: 0;
  line-height: 30px; /* Decreased size */
  border-radius: 0; /* Square border */
  margin: 4px;
}
