<h2 style="padding: 10px 0 0 20px">Timepicker Output</h2>

<h2 style="padding: 10px 0 0 20px">Datepicker Output</h2>
<div style="padding: 10px 0 0 20px">
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="datepicker"
      [(ngModel)]="selectedDate"
      readonly="readonly"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="datepicker"
      style="
        font-size: 28px !important;
        vertical-align: center !important;
      "
    ></mat-datepicker-toggle>
    <mat-datepicker
      #datepicker
      [calendarHeaderComponent]="exampleHeader"
      (click)="updateSelectedDate()"
      (daySelected)="updateSelectedDate()"
      (dateChange)="updateSelectedDate()"
    >
      <mat-datepicker-actions>
        <div class="datepicker-footer">
          <app-custom-timepicker></app-custom-timepicker>

          <div class="datepicker-footer-actions">
            <button
              mat-button
              matDatepickerCancel
              class="cancel-button"
            >
              Cancel
            </button>
            <button
              mat-raised-button
              color="primary"
              matDatepickerApply
              class="apply-button"
              (click)="updateSelectedDate()"
            >
              Apply
            </button>
          </div>
        </div>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
</div>

<h2 style="padding: 10px 0 0 20px">Date Range Picker Output</h2>
<div style="padding: 10px 0 0 20px">
  <mat-form-field>
    <mat-date-range-input
      [rangePicker]="picker"
      [formGroup]="rangeForm"
      class="daterange-input-group"
    >
      <input
        matStartDate
        formControlName="start"
        #startDateInput
        readonly="readonly"
        class="date-range-input start-date-input"
        [value]="
          rangeForm.controls['end'].value | date : 'yyyy-MM-dd'
        "
      />
      <div class="date-range-separator">-</div>
      <input
        matEndDate
        formControlName="end"
        #endDateInput
        readonly="readonly"
        class="date-range-input end-date-input"
        [value]="
          rangeForm.controls['start'].value | date : 'yyyy-MM-dd'
        "
      />
    </mat-date-range-input>
    <mat-datepicker-toggle
      matSuffix
      [for]="picker"
      style="
        font-size: 28px !important;
        vertical-align: center !important;
      "
    ></mat-datepicker-toggle>

    <mat-date-range-picker
      #picker
      (dateChange)="updateDateRange()"
      [calendarHeaderComponent]="exampleHeader"
      color="primary"
    >
      <mat-datepicker-actions>
        <div class="datepicker-footer">
          <app-custom-timepicker></app-custom-timepicker>

          <div class="datepicker-footer-actions">
            <button
              mat-button
              matDatepickerCancel
              class="cancel-button"
            >
              Cancel
            </button>
            <button
              mat-raised-button
              color="primary"
              matDatepickerApply
              class="apply-button"
              (click)="updateDateRange()"
            >
              Apply
            </button>
          </div>
        </div>
      </mat-datepicker-actions>
    </mat-date-range-picker>
  </mat-form-field>
</div>

<!-- <div>
      <input matInput [value]="selectedRange" readonly (click)="openDateRangePicker()">
    </div> -->
