$button-color: lightsteelblue;

.date-input-value {
  font-size: 1.2em;
  margin-top: -20px;
}

.date-range-input-value {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  margin-top: -1px;
  margin-right: 6px;
}

.date-range-separator {
  margin-right: 8px;
  position: relative;
  top: -7px;
  margin: 3px;
}

.time-label-wrapper {
  display: flex;
  align-items: center;
}
.toggle-icon {
  margin-left: 1px;
  margin-top: 10px;
}
.cancel-button,
.apply-button {
  flex: 1;
  text-align: center;
  font-size: 18px;
  padding: 8px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 520;
  margin: 5px 5px 0;

  &:hover {
    cursor: pointer;
  }
}
.cancel-button {
  margin-right: 8px;
}
.apply-button {
  background-color: $button-color;
  height: 42px;
  margin-left: 5px;
}

.cancel-button-date,
.apply-button-date {
  flex: 1;
  text-align: center;
  font-size: 18px;
  padding: 8px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 520;
  margin: 0 10px;
  margin-right: -3px;
  margin-left: 40px;

  &:hover {
    cursor: pointer;
  }
}
.apply-button-date {
  background-color: $button-color;
  margin-left: 10px;
  width: 20px;
}

.datepicker-footer-no-time {
  width: 100%;
  margin-top: 72px;
  border-top: 1px solid gray;
  padding-top: 10px;
  justify-content: space-between;
  display: flex;
  gap: 3px;
}

.cancel-button-date-no-time {
  flex: 0.9;
  text-align: center;
  font-size: 18px;
  padding: 8px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 540;
  margin: 0 5px;
  margin-top: 5px;
  height: 42px;
  &:hover {
    cursor: pointer;
  }
  margin-right: 5px;
}

.apply-button-date-no-time {
  background-color: $button-color;
  width: 50%;
  flex: 1;
  text-align: center;
  font-size: 18px;
  padding: 8px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 540;
  margin: 0 5px;
  margin-top: 5px;
  height: 43px;

  &:hover {
    cursor: pointer;
  }
}
.cancel-button-date-no-time {
  margin-left: 23px;
}

::ng-deep .mat-calendar {
  height: 380px !important;
  width: 399px !important;
}
::ng-deep .mat-calendar-header {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-calendar-content {
  margin-top: -4px;
}

.example-header {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  font-size: 15px;
}

mat-form-field {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: auto;
  height: 50px;
}

::ng-deep .mat-date-range-input-start-wrapper,
::ng-deep .mat-date-range-input-end-wrapper {
  display: none;
}

::ng-deep .mat-date-range-input-separator {
  display: none;
}

.datepicker-input {
  font-size: 14px;
  font-size: 1.2em;
}

mat-date-range-input input {
  font-size: 1.2em;
  line-height: 1.5;
  border: none;
  margin-left: -2, 5px;
  padding-left: -4px;
  padding-top: 2px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field {
  direction: rtl;
}

::ng-deep .mat-form-field input {
  direction: ltr;
}

::ng-deep .mat-datepicker-toggle .mat-icon-button {
  background-color: transparent;
  box-shadow: none;
}

::ng-deep .mat-datepicker-toggle .mat-button-wrapper {
  border-radius: 0;
  padding: 0;
  border: none;
  outline: none;
}

.datepicker-footer {
  width: 100%;
  margin-top: 72px;
  border-top: 1px solid gray;
  padding-top: 10px;
}

.datepicker-footer-range {
  width: 100%;
}

.datepicker-footer-range .datepicker-footer-actions {
  width: 100%;
}
.adjust-time {
  margin: -19px;
  padding: -9px;
  margin-left: 0px;
}

.datepicker-footer .datepicker-footer-actions {
  width: 100%;
}

.datepicker-footer-actions {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding-top: 8px;
}

.datepicker-footer .datepicker-footer-actions-first {
  width: 100%;
  margin-top: -20px;
}

.datepicker-footer-actions-first {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.mat-date-range-input-start {
  margin-right: 100px;
}

.daterange-input-group {
  align-items: center;
}

.date-range-input {
  display: inline-block;
}

.start-date-input {
  margin-top: -8px;
  position: relative;
}
.end-date-input {
  margin-top: -6px;
  position: relative;
  margin-left: -20px !important;
}

.datepicker-toggle {
  font-size: 28px !important;
  vertical-align: center !important;
}

.format {
  padding: 10px 0 0 20px;
}

.time-picker-container {
  display: flex;
  justify-content: space-between;

  gap: 50px;
  align-items: center;
  margin-top: 60px;
}

.time-picker-item {
  display: flex;
  flex-direction: column;
  align-items: left;

  margin-bottom: 0px;
}
.time-picker-container > :not(.datepicker-footer-actions) {
  margin-bottom: -10px;
}

.time-label {
  margin: -6px;
  margin-left: 0px;

  margin-right: 10px;
}

.time-picker-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-left: 15px;
}

.start-time-wrapper {
  margin-right: 60px !important;
}

.end-time-wrapper {
  margin-left: -42px !important;
}

.time-picker-item,
.time-picker-item-end {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.vertical-line {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 46px;
  background-color: #ccc;
  margin-top: 285px;
}

.vertical-line-first {
  position: absolute;
  top: 53%;
  left: 37%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 44px;
  background-color: #ccc;
  margin-top: 209px;
}
