<!-- app.component.html -->
<h2 style="padding: 10px 0 0 20px">Timepicker Output</h2>

<h2 style="padding: 10px 0 0 20px">Datepicker Output</h2>
<div style="padding: 10px 0 0 20px">
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="datepicker"
      [(ngModel)]="selectedDate"
      readonly="readonly"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="datepicker"
      style="
        font-size: 28px !important;
        vertical-align: center !important;
      "
    ></mat-datepicker-toggle>
    <mat-datepicker
      #datepicker
      [calendarHeaderComponent]="exampleHeader"
      (dateChange)="updateSelectedDate()"
      color="primary"
    >
      <mat-datepicker-actions>
        <div class="datepicker-footer">
          <app-custom-timepicker></app-custom-timepicker>

          <div class="datepicker-footer-actions">
            <button
              mat-button
              matDatepickerCancel
              class="cancel-button"
            >
              Cancel
            </button>
            <button
              mat-raised-button
              color="primary"
              matDatepickerApply
              class="apply-button"
              (click)="updateSelectedDate()"
            >
              Apply
            </button>
          </div>
        </div>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
</div>

<!-- {{ selectedDate }} -->

<h2 style="padding: 10px 0 0 20px">Date Range Picker Output</h2>
<div style="padding: 10px 0 0 20px">
  <mat-form-field>
    <mat-date-range-input [rangePicker]="picker">
      <input
        matStartDate
        readonly="readonly"
        [value]="formatDate(startDate)"
      />
      <input
        matEndDate
        readonly="readonly"
        [value]="formatDate(endDate)"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle
      matSuffix
      [for]="picker"
      style="
        font-size: 28px !important;
        vertical-align: center !important;
      "
    ></mat-datepicker-toggle>
    <mat-date-range-picker
      #picker
      (dateChange)="updateSelectedDate()"
      [calendarHeaderComponent]="exampleHeader"
      color="primary"
    >
      <!-- <mat-calendar-content> -->
      <mat-datepicker-actions>
        <div class="datepicker-footer">
          <app-custom-timepicker></app-custom-timepicker>

          <div class="datepicker-footer-actions">
            <button
              mat-button
              matDatepickerCancel
              class="cancel-button"
            >
              Cancel
            </button>
            <button
              mat-raised-button
              color="primary"
              matDatepickerApply
              class="apply-button"
              (click)="updateSelectedDate()"
            >
              Apply
            </button>
          </div>
        </div>
      </mat-datepicker-actions>
      <!-- </mat-calendar-content> -->
    </mat-date-range-picker>
  </mat-form-field>
</div>
