.cancel-button,
.apply-button {
  flex: 1;
  text-align: center;
  font-size: 16px; // Adjust as needed
  padding: 5px 10px; // Adjust as needed
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}
.cancel-button {
  margin-right: 10px;
}
.apply-button {
  background-color: lightsteelblue;
}

::ng-deep .mat-calendar {
  height: 360px !important;
}
::ng-deep .mat-calendar-header {
  display: flex;
  flex-direction: row !important;
  justify-content: center; // or space-between, space-around, depending on your layout requirements
  align-items: center; // for vertical alignment
}

::ng-deep .mat-calendar-content {
  margin-top: -4px; // Adjust as needed
}

.example-header {
  display: flex;
  flex-direction: row; // Changed from column to row
  padding: 0.5em;
  font-size: 15px;
}

/* Customize the input field to look like a button */
mat-form-field {
  background-color: transparent; /* Or any color you prefer */
  border: 1px solid #ccc; /* Or any color you prefer */
  border-radius: 4px; /* Adjust as necessary to get the desired "button" look */
  width: auto; /* Set a specific width, or leave it auto to fit the content */
  text-align: auto; /* Center the text */
  height: 50px;
  width: fit-content;
}

.datepicker-input {
  font-size: 14px; /* Adjust the font size as per your preference */
  font-size: 1.2em; /* Adjust as necessary */
}

/* accessing  */
mat-date-range-input input {
  font-size: 1.2em; /* Adjust as necessary */
  line-height: 1.5; /* Adjust as necessary to vertically center the text */
  border: none; /* Remove border */
  margin-left: -2, 5px;
  padding-left: -4px;
  padding-top: 2px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-date-range-input-separator {
  /* Styles for the hyphen (-) separator */
  margin: 0 5px; /* Adjust the margin as needed */
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 48%;
  margin-right: 200px;
}

/* Remove the underline */
.mat-form-field-underline {
  display: none;
}

/* Remove the ripple */
.mat-form-field-ripple {
  display: none;
}

/* Increase the size of the datepicker toggle icon */

/* Move the datepicker toggle icon to the left of the input */
::ng-deep .mat-form-field {
  direction: rtl;
}

/* Ensure the text in the input field is still left-aligned */
::ng-deep .mat-form-field input {
  direction: ltr;
}

::ng-deep .mat-datepicker-toggle .mat-icon-button {
  background-color: transparent;
  box-shadow: none;
}

::ng-deep .mat-datepicker-toggle .mat-button-wrapper {
  border-radius: 0;
  padding: 0;
  border: none;
  outline: none;
}

.datepicker-footer {
  width: 100%;
}

.datepicker-footer .datepicker-footer-actions {
  width: 100%;
}

.mat-date-range-input-start {
  margin-right: 100px;
}

.daterange-input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.date-range-input {
  display: inline-block;
}

.start-date-input {
  margin-top: -8px; /* Adjust the negative margin as needed */
  position: relative;
}
.end-date-input {
  margin-top: -6px; /* Adjust the negative margin as needed */
  position: relative;
  margin-left: -20px !important;
}

.datepicker-toggle {
  font-size: 28px !important;
  vertical-align: center !important;
}

.format {
  padding: 10px 0 0 20px;
}
