<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="example-header">
  <div
    class="example-date"
    FxLayout="row"
    fxLayoutAlign="start center"
  >
    <button
      mat-icon-button
      class="example-double-arrow"
      (click)="previousClicked('year')"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-single-arrow"
      (click)="previousClicked('month')"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <span class="example-header-label">{{
      periodLabel | date : 'MMMM yyyy'
    }}</span>
    <button
      class="example-single-arrow"
      mat-icon-button
      (click)="nextClicked('month')"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button
      mat-icon-buttons
      class="example-double-arrow"
      (click)="nextClicked('year')"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <div class="extend-width" style="display: flex; gap: 50px">
    <div class="date_applied" *ngIf="shouldShowDateApplied()">
      <div>
        <label>{{ formattedDate }}</label>
      </div>
      <div>
        <span *ngIf="isShowTime">{{ time }}</span>
      </div>
    </div>
    <div class="date_applied" *ngIf="shouldShowDateRangeApplied()">
      <div
        style="
          display: flex;
          flex-direction: column;
          margin-left: -100px;
        "
      >
        <!-- <label>{{ formattedDate }}</label> -->
        <span *ngIf="isShowTime">{{ startTime }}</span>
      </div>
    </div>
    <div
      class="daterange_applied"
      *ngIf="shouldShowDateRangeApplied()"
    >
      <!-- <label style="display: block">{{ formattedDate }}</label> -->
      <span
        *ngIf="isShowTime"
        style="display: block; white-space: nowrap"
        >{{ endTime }}</span
      >
    </div>
  </div>
</div>
