<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="example-header">
  <div
    class="example-date"
    FxLayout="row"
    fxLayoutAlign="start center"
  >
    <button
      mat-icon-button
      class="example-double-arrow"
      (click)="previousClicked('year')"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-single-arrow"
      (click)="previousClicked('month')"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <span class="example-header-label">{{
      periodLabel | date : 'MMMM yyyy'
    }}</span>
    <button
      class="example-single-arrow"
      mat-icon-button
      (click)="nextClicked('month')"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button
      mat-icon-buttons
      class="example-double-arrow"
      (click)="nextClicked('year')"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <div class="extend-width" style="display: flex; gap: 50px">
    <div class="date_applied" *ngIf="shouldShowDateApplied()">
      <div class="bold-text">
        <label>{{ formattedDate }}</label>
      </div>
      <div class="bold-text">
        <span *ngIf="isShowTime">{{ time }} </span>
      </div>
    </div>
    <div class="date_applied" *ngIf="shouldShowDateRangeApplied()">
      <div style="width: 100%">
        <div class="side-by-side">
          <div class="side-by-side-first">
            <span class="bold-text">{{ selectedStartDate }}</span>
            <span *ngIf="isShowTime" class="bold-text time"
              >{{ startTime }}
            </span>
          </div>
          <div class="side-by-side-second">
            <span class="bold-text">{{ selectedEndDate }}</span>
            <span *ngIf="isShowTime" class="bold-text time">{{
              endTime
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
