.wrapper-container {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  row-gap: 18px;
  overflow: hidden;
  padding: 2px;

  mat-card {
    width: 23.5%;
    min-width: 300px;
    height: auto;
    overflow: hidden;
    padding: 10px 0 0 0;
  }
}
