// Background
$light-text: #ffffff;
$dark-text: #000000;
$light-background: #fdfcfc;
$light-background-secondary: #f8fafb; //#e8edf7
$dark-background: #1f1e23;
$dark-background-secondary: #1c1b20;

// PRIMARY
$primary-main-color: #1a4d87;
$primary-main-light-color: #ffb03b;
$primary-main-dark-color: #1a4d87;

// PRIMARY
$primary-color: #000001;
$primary-light-color: #bcbcbd;
$primary-dark-color: #121216;

// ACCENT
$accent-color: #1f1e24;
$accent-light-color: #bcbcbd;
$accent-dark-color: #98d6dc;

// WARNING
$warn-color: #f75e5e;
$warn-light-color: #fdcfcf;
$warn-dark-color: #f34242;

// TOAST
$success-toast: #29be67;
$error-toast: #ed254e;
$info-toast: #6d6d6d;

// Other Colors
$link-color: #1976d2;
$link-color-hover: #125699;

// Font family used
$font-family: 'Lato';
$font-size: 14px;
