.filter-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  border: 1px solid red;

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.1);
    backdrop-filter: blur(5px);
  }

  .modal-content {
    z-index: 10;
    padding: 32px;
    width: 80%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: bold;
      font-size: 1.5rem;
      text-transform: capitalize;
      letter-spacing: 1.5px;
    }
  }
}
