<div class="filter-modal">
  <div
    class="modal-overlay"
    tabindex="0"
    (click)="onClickOutside()"
    (keypress)="onClickOutside()"
  ></div>

  <button class="close-btn" (click)="onClick()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      width="32px"
      height="32px"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </button>

  <div class="modal-content">
    <h2>filter</h2>

    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Platforms</mat-label>
        <mat-select [(value)]="selectedPlatform">
          <mat-option value="tous">tous</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nom de Domaine</mat-label>
        <input
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="nomDomaine"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nom du Flux</mat-label>
        <input
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="nomFlux"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>FlowUID</mat-label>
        <input
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="flowUID"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select [(value)]="selectedStatus">
          <mat-option value="tous">tous</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input
          matInput
          type="datetime-local"
          [(ngModel)]="startDate"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput type="datetime-local" [(ngModel)]="endDate" />
      </mat-form-field>
    </div>

    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Nom de Cle</mat-label>
        <input
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="nomCle"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Valeur de Cle</mat-label>
        <input
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="valueCle"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <button class="btn btn-primary submit-btn" (click)="onSubmit()">
      Search
    </button>
  </div>
</div>
