<button class="close-btn" mat-dialog-close>
  <img src="assets/svg/close-icon.svg" alt="close icon" />
</button>

<div mat-dialog-content class="modal-content">
  <h2 mat-dialog-title>filter</h2>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Platforms</mat-label>
        <mat-select formControlName="selectedPlatform">
          <mat-option value="tous">tous</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nom de Domaine</mat-label>
        <input
          matInput
          [matAutocomplete]="auto"
          formControlName="domaineName"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nom du Flux</mat-label>
        <input
          matInput
          [matAutocomplete]="auto"
          formControlName="flowName"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>FlowUID</mat-label>
        <input
          matInput
          [matAutocomplete]="auto"
          formControlName="flowUID"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="selectedStatus">
          <mat-option value="tous">tous</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Start Date</mat-label>
        <input
          matInput
          type="datetime-local"
          formControlName="startDate"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>End Date</mat-label>
        <input
          matInput
          type="datetime-local"
          formControlName="endDate"
        />
      </mat-form-field>
    </div>

    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Nom de Cle</mat-label>
        <input
          matInput
          [matAutocomplete]="auto"
          formControlName="keyName"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Valeur de Cle</mat-label>
        <input
          matInput
          [matAutocomplete]="auto"
          formControlName="keyValue"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <button
      type="submit"
      [mat-dialog-close]="formGroup.value"
      class="btn btn-primary submit-btn"
      cdkFocusInitial
    >
      Search
    </button>
  </form>
</div>
